<h1 class="header">{{name}}</h1>
<h4>{{address}}</h4>
<div class="row">
		<div class="col-sm-2">
			<ul class="nav nav-pills nav-stacked">
				<li><a ng-repeat="link in links" href="{{link.url}}">{{link.name}}</a></li>
			</ul>
		</div>
		<div class="col-sm-10">
			<tabset>
    		<tab heading="Technologies">
        	<ul>
          	  <li ng-repeat="item in tech">
            	    <h5>{{item.name}}</h5>
              	  <h6>{{item.url}}</h6>
                	<p>{{item.desc}}</p>
            	</li>
        	</ul>
    	</tab>
    	<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
      	{{tab.content}}
    	</tab>
  	</tabset>
	</div>
</div>